<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webapp.root.service</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Exporter</servlet-name>
        <servlet-class>com.pkrete.locationservice.endpoint.servlets.Exporter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>com.pkrete.locationservice.endpoint.servlets.Info</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LocationHandler</servlet-name>
        <servlet-class>com.pkrete.locationservice.endpoint.servlets.LocationHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageCreator</servlet-name>
        <servlet-class>com.pkrete.locationservice.endpoint.servlets.ImageCreator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocationHandler</servlet-name>
        <url-pattern>/LocationHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageCreator</servlet-name>
        <url-pattern>/ImageCreator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exporter</servlet-name>
        <url-pattern>/Exporter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/Info</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.htm</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.htm</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.htm</location>
    </error-page>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All-denied</web-resource-name>
            <url-pattern>*.txt</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <filter>
        <filter-name>locationHandlerValidationFilter</filter-name>
        <filter-class>com.pkrete.locationservice.endpoint.servlets.filter.LocationHandlerValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>exporterValidationFilter</filter-name>
        <filter-class>com.pkrete.locationservice.endpoint.servlets.filter.ExporterValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>exporterAuthorizationFilter</filter-name>
        <filter-class>com.pkrete.locationservice.endpoint.servlets.filter.ExporterAuthorizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>imageCreatorValidationFilter</filter-name>
        <filter-class>com.pkrete.locationservice.endpoint.servlets.filter.ImageCreatorValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>locationHandlerValidationFilter</filter-name>
        <url-pattern>/LocationHandler</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exporterValidationFilter</filter-name>
        <url-pattern>/Exporter</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>exporterAuthorizationFilter</filter-name>
        <url-pattern>/Exporter</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>imageCreatorValidationFilter</filter-name>
        <url-pattern>/ImageCreator</url-pattern>
    </filter-mapping>
</web-app>
